{{ with .Params.embed }}
  {{ if eq .plataforma "spotify" }}
  <div class="embed embed--spotify">
    <iframe src="https://open.spotify.com/embed/{{ .tipo }}/{{ .id }}" height="152" loading="lazy"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      title="Escuchar en Spotify"></iframe>
  </div>
  {{ else if and (eq .plataforma "apple") (hasPrefix .url "https://music.apple.com/") }}
  <div class="embed embed--apple">
    <iframe src="{{ replace .url "https://music.apple.com/" "https://embed.music.apple.com/" }}" height="450" loading="lazy"
      allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
      sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
      title="Escuchar en Apple Music"></iframe>
  </div>
  {{ else if eq .plataforma "youtube" }}
  <div class="embed embed--youtube">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ .id }}" loading="lazy"
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
      title="Ver en YouTube"></iframe>
  </div>
  {{ end }}
{{ end }}
